@model Web3IoT.Models.Sensor

@{
    ViewData["Title"] = "Thêm mới cảm biến";
}

<div class="container-fluid">
    <h1 class="mt-4">@ViewData["Title"]</h1>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-plus me-1"></i>
            Thêm mới cảm biến
        </div>
        <div class="card-body">
            <form asp-action="CreateSensor">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                  
                </div>

                <div class="form-group">
                    <input type="submit" value="Lưu" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 